// COLORS

$black-color: #151515;
$green-color: #4ee1a0;
$dark-gray: #242424;
$light-gray: #d9d9d9;
$white-color: #ffffff;

// FONT
$main-font-family: "Space Grotesk";

$heading-xl: 8.8rem;
$heading-l: 4.8rem;
$heading-m: 2.4rem;
$description: 1.8rem;

// weight
$heading-weight: 700;
$description-weight: 500;
