main {
  flex-grow: 1;
}

.hero {
  background-image: url(.././images/hero-bg-left.svg);
  background-repeat: no-repeat;
  background-position: top 16% left 0;
}
.hero__container {
  display: flex;
  align-items: center;
}
.container {
}
.hero__text-content {
  position: relative;
  z-index: 100;
  padding-top: 12.7rem;

  .hero__title-wr {
    // width: 709px;
  }

  .hero__visible-title {
    @include heading-xl;
  }

  .hero__hidden-title {
    display: none;
  }

  .hero__desc {
    padding-top: 4.3rem;
    @include description-text;
    width: 445px;
  }
}

span {
  position: relative;
  color: #ffffff;
  display: inline;
}
span::after {
  content: "";
  width: 100%;
  z-index: -1;
  height: 7px;
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: $green-color;
}

// ///////
.site-btn {
  padding-top: 6.6rem;
}
.hero-image-wrapper {
  background-image: url(../../images/hero-circle-img.svg);
  background-repeat: no-repeat;

  position: absolute;
  margin-left: 680px;
  padding-top: 25rem;
  background-color: $dark-gray;
  img {
    z-index: -1;
  }
}

.hero__mobile-image-wrapper {
  display: none;
}

.hero-hr {
  margin-top: 23rem;
}

@media screen and (max-width: 768px) {
  // .container {
  //   width: 100%;
  //   max-width: 748px;
  //   margin-right: auto;
  //   margin-left: auto;
  //   padding-right: 2rem;
  //   padding-left: 2rem;
  // }

  .hero-hr {
    margin-top: 6rem;
  }

  .hero__mobile-image-wrapper {
    display: none;
  }

  .hero {
    background-image: url(.././images/hero-bg-left.svg);
    background-repeat: no-repeat;
    background-position: top 6% left -45%;
  }

  .hero__text-content {
    padding-top: 9rem;
  }

  .hero__title-wr {
    width: 443px;
    .hero__hidden-title {
      font-family: $main-font-family;
      font-size: 7.2rem;
      font-weight: $heading-weight;
      line-height: 7.2rem;
      letter-spacing: -2.045px;
      display: block;
    }
    .hero__visible-title {
      display: none;
    }
  }

  .hero-image-wrapper {
    position: absolute;
    margin-top: -18rem;
    margin-left: 41.8rem;
    background-color: $dark-gray;
    img {
      z-index: -1;
      width: 30rem;
      height: 44rem;
    }
  }

  .site-btn {
    padding-top: 3.4rem;
  }
}

@media screen and (max-width: 375px) {
  .hero__container {
    flex-direction: column;
    justify-content: center;
    .hero-image-wrapper {
      display: none;
    }
  }

  .hero {
    background-image: none;
  }

  .hero__mobile-image-wrapper {
    display: block;
  }

  .hero__text-content {
    margin-top: -5rem;
  }

  .hero__title-wr {
    // width: 343px;
    .hero__visible-title {
      display: block;
      text-align: center;
      font-family: "Space Grotesk";
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1.136px;
    }
    .hero__hidden-title {
      display: none;
    }
  }

  span::after {
    content: "";
    width: 100%;
    z-index: -1;
    height: 7px;
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: $green-color;
  }

  .hero__desc {
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 1.6rem;
    font-weight: $description-weight;
    line-height: 2.6rem;
    padding: 0;
    margin: 0;
    margin-top: -2rem;
  }
  .hero__visible-title {
    display: block;
  }
  .hero__hidden-title {
    display: none;
  }

  .hero__mobile-image-wrapper {
    img {
      z-index: -1;
      width: 17rem;
      height: 24rem;
    }
  }
}

.hero-hr {
}
